<section class="container">
  <form action="">
    <div class="input-label">
      <label for="title-task" class="title">Título da tarefa</label>
      <input
        type="text"
        id="title-task"
        name="title-task"
        placeholder="Digite aqui..."
      />
    </div>

    <div class="input-label">
      <label for="desc-task" class="title">Descrição</label>
      <textarea
        type="text"
        id="desc-task"
        name="desc-task"
        placeholder="Digite aqui..."
      ></textarea>
    </div>

    <div class="input-label">
      <legend class="title">Qual a importância da sua tarefa?</legend>
      <div class="input-option">
        <input type="radio" name="importancy" value="1" id="imp" checked />
        <label for="imp">Importante</label>
      </div>
      <div class="input-option">
        <input type="radio" name="importancy" value="2" id="n-imp" />
        <label for="n-imp">Não importante</label>
      </div>
    </div>

    <div class="input-label">
      <legend class="title">Qual a urgência da sua tarefa?</legend>
      <div class="input-option">
        <input type="radio" name="urgency" value="1" id="urg" checked />
        <label for="urg">Urgente</label>
      </div>
      <div class="input-option">
        <input type="radio" name="urgency" value="2" id="n-urg" />
        <label for="n-urg">Não urgente</label>
      </div>
    </div>
    <div><button type="submit" value="Submit">Salvar tarefa</button></div>
  </form>
</section>
