<section class="container">
  <div class="container-title"><h1>Suas tarefas</h1></div>
  <div class="task-label">
    <div class="containter-task">
      <div class="title-task"><h1>Tarefa 1</h1></div>
      <div class="desc-task">
        <p>
          After which, I add a border-radius value. To get round buttons, I need
          a value that is at least 50% of my height/width. Any lower value will
          result in sharp or rounded edges.
        </p>
      </div>
    </div>
    <div>
      <div class="check-task">
        <img src="../../../assets/complete.svg" alt="complete" />
      </div>
      <div class="status-task"><p>Faça Agora!</p></div>
    </div>
  </div>
  <div class="task-label">
    <div class="containter-task">
      <div class="title-task"><h1>Tarefa 1</h1></div>
      <div class="desc-task">
        <p>
          After which, I add a border-radius value. To get round buttons, I need
          a value that is at least 50% of my height/width. Any lower value will
          result in sharp or rounded edges.
        </p>
      </div>
    </div>
    <div>
      <div class="check-task">
        <img src="../../../assets/complete.svg" alt="complete" />
      </div>
      <div class="status-task"><p>Faça Agora!</p></div>
    </div>
  </div>
  <div class="task-label">
    <div class="containter-task">
      <div class="title-task"><h1>Tarefa 1</h1></div>
      <div class="desc-task">
        <p>
          After which, I add a border-radius value. To get round buttons, I need
          a value that is at least 50% of my height/width. Any lower value will
          result in sharp or rounded edges.
        </p>
      </div>
    </div>
    <div>
      <div class="check-task">
        <img src="../../../assets/complete.svg" alt="complete" />
      </div>
      <div class="status-task"><p>Faça Agora!</p></div>
    </div>
  </div>
</section>
